<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {{!--
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
    <title>Buddpuckers' Gourmet Burgers</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/burgers.js"></script>
</head>

<body>
    <div id='header'>
        <em id='title'>Buddpuckers!</em>
        <div id='subheader'>Gourmet Burgers</div>
    </div>
    {{{ body }}}
</body>
<script src="/js/burgers.js"></script>

</html>