
body {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 900px;
    background: linear-gradient(rgb(243, 216, 147), rgb(218, 144, 6),rgb(167, 114, 17) );
    background-size: fill;
    font-family: 'fontdiner swanky';
}

#header {
    width: 100%;
    color: red;
    text-shadow: 2px 2px 5px rgba(1, 1, 1, 0.4);
    text-align: center;
    background-image: url('/images/seeds.png');
    background-size: 100% 100%;
}

#title{
       font-size: 5em;
}

#subheader{
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

#burgers-uneaten{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/table.png');
    background-size: 100%;
    box-shadow: 8px 8px 8px rgba(1, 1, 1, 0.4);
}

#burgers-eaten{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/stomach.png');
    background-size: 100% 100%;
    box-shadow: 8px 8px 8px  rgba(1, 1, 1, 0.4);
}

h1, h2{
    color: rgb(211, 180, 57);
    text-shadow: 3px 3px 3px rgba(1, 1, 1, 0.8), -2px -2px 3px rgba(1, 1, 1, 0.8);
    background-color: rgba(0, 225, 109, 0.4);
    border-radius: 8px;
    padding: 4px;
    text-align: center;
}

.button {
    border: gray 2px outset;
    border-radius: 8px;
    background-color: rgba(243, 243, 243, 0.4);
    padding: 8px;
    margin: 8px;
}

.button:hover{
    cursor: pointer;
    border: rgb(46, 73, 112) 2px outset;
}

.button:active{
    border: gray 2px inset;
    cursor: pointer;
    background-color: rgba(151, 151, 151, 0.4);
}

.burg-img {
    height: 84px;
}